body {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/ukegawa_otaki.gif);
  /* color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%; */
}
