html {
  min-height: 100%;
}

body {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/ukegawa_otaki.gif);
}

h1 {
  float: right;
  writing-mode: vertical-rl;
}
